* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-style: normal;
}

button,
input {
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.wrapper {
    width: 100%;
    background-color: #01040E;
    position: relative;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.content {
    width: 85%;
    margin: 0 auto;
}

.main {
    background-color: #01040E;
    background-image: url('../assets/back.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.divider {
    margin-top: rem(140px);
    @include netbook {
        margin-top: rem(70px);
    }
    @include tablet {
        margin-top: rem(50px);
    }
    @include phone {
        margin-top: rem(20px);
    }
    &__img {
        @include tablet {
            height: rem(65px);
        }
        @include phone {
            height: rem(50px);
        }
    }
}
