@media screen and (max-width: 1320px){ //hd
  html{
    font-size: 16px;
  }
}
@media screen and (max-width: 1260px){ //hd
  html{
    font-size: 15px;
  }
}
@media screen and (max-width: 992px){ //netbook
  html{
    font-size: 14px;
  }
}
@media screen and (max-width: 768px){ //tablet
  html{
    font-size: 12px;
  }
}
@media screen and (max-width: 480px){ //phone
  html{
    font-size: 10px;
  }
}

@function rem ($px) {
  @return $px / 16px + 0rem;
}


@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin small-desktop {
  @media screen and (max-width: 1100px) {
    @content;
  }
}

@mixin netbook {
  @media screen and (max-width: 992px) {
    @content;
  }
}


@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}


@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}
