.contacts {
  margin-top: rem(80px);
  @include tablet {
    margin-top: rem(60px);
  }
  &-list {
    display: flex;
    height: rem(120px);
    justify-content: space-around;
  }
  &-item {
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__img {
      width: rem(20px);
    }
    &__caption {
      font-family: 'm-light';
    }
    &__text {
      line-height: rem(21px);
      font-size: rem(18px);
      letter-spacing: -0.5px;
      color: #FFFFFF;
      @include phone {
        line-height: rem(20px);
        font-size: rem(16px);
      }
    }
    &__sub-text {
      font-size: rem(14px);
      text-align: center;
      color: #709BE7;
      margin-top: rem(15px);
    }
  }
}
