.features {
    margin-top: rem(50px);
    &__title {
        width: 90%;
        margin-top: rem(50px);
        line-height: rem(44px);
        font-size: rem(36px);
        color: #FFFFFF;
        font-family: 'm-light';
        @include tablet {
            font-size: rem(28px);
            line-height: rem(36px);
        }
        @include phone {
            font-size: rem(26px);
            line-height: rem(34px);
        }
    }
    &-list {
        margin-top: rem(50px);
        display: flex;
    }
    &-item {
        width: 25%;
        padding-right: rem(15px);
        display: flex;
        flex-direction: column;
        &__number {
            color: #ffffff;
            text-align: center;
            line-height: rem(67px);
            vertical-align: center;
            width: rem(67px);
            height: rem(67px);
            background: linear-gradient(225deg, #FA2B56 0%, #F91C3D 100%);
            box-shadow: rem(20px) rem(20px) rem(60px) rgba(0, 0, 0, 0.4);
            border-radius: 50%;
            font-size: rem(24px);
            font-family: 'm-bold';
        }
        &__title {
            font-family: 'm-light';
            line-height: rem(21px);
            font-size: rem(18px);
            letter-spacing: -0.5px;
            color: #FFFFFF;
            margin-top: rem(25px);
        }
        &__text {
            font-family: 'm-light';
            margin-top: rem(25px);
            line-height: rem(18px);
            font-size: rem(14px);
            color: #709BE7;
        }
    }
    &__button {
        margin-top: rem(25px);
        width: rem(200px);
        height: rem(50px);
        background: linear-gradient(197.53deg, #FA2B56 0%, #F91C3D 100%);
        box-shadow: rem(20px) rem(20px) rem(60px) rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        font-family: 'm-regular';
        color: #ffffff;
        font-size: rem(16px);
        line-height: rem(19px);
        &:hover {
            background: linear-gradient(197.53deg, #CF0F37 0%, #F90025 100%);
        }
    }
}

.form-anchor {
    color: #ffffff;
    width: 100%;
    height: 100%;
    line-height: rem(50px);
    vertical-align: middle;
}
