.footer {
  padding: rem(60px) 0;
  &-content {
    display: flex;
    justify-content: space-between;
  }
  &__img-container {
    width: 30%;
    @include tablet {
      width: 10%;
    }
  }
  &-links {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link-item{
    @include tablet {
      margin-left: rem(30px);
    }
    @include phone {
      margin-left: rem(20px);
    }
  }
  &__copyright {
    width: 30%;
    font-size: rem(12px);
    color: #FFFFFF;
    vertical-align: center;
    text-align: right;
    font-family: 'm-light';
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
  }
}
