.form {
    margin-top: rem(150px);
    padding-top: rem(120px);
    height: rem(720px);
    position: relative;
    overflow: hidden;
    &-bg-img {
        position: absolute;
        right: 0;
        top: 0;
        @include netbook {
            width: 70%;
        }
        @include tablet {
            width: 100%;
        }
    }
    &-content {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &-info {
        font-family: 'm-light';
        width: rem(445px);
        height: rem(289px);
        display: flex;
        flex-direction: column;
        @include tablet {
            width: rem(445px);
            height: auto;
        }
        &__sub-title {
            line-height: rem(21px);
            font-size: rem(18px);
            letter-spacing: rem(-0.5px);
            color: #709BE7;
            @include tablet {
                line-height: rem(18px);
            }
        }
        &__title {
            margin-top: rem(20px);
            line-height: rem(62px);
            font-size: rem(48px);
            letter-spacing: rem(-1px);
            color: #FFFFFF;
            @include netbook {
                margin-top: rem(20px);
                font-size: rem(36px);
                line-height: rem(50px);
            }
            @include tablet {
                font-size: rem(28px);
                line-height: rem(54px);
                margin-top: rem(00px);
            }
        }
    }
    &-fields {
        margin-left: rem(30px);
        width: rem(440px);
        height: rem(360px);
        background-color: #FFFFFF;
        box-shadow: rem(40px) rem(40px) rem(80px) rgba(2, 8, 22, 0.3);
        border-radius: 5px;
        padding: rem(20px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        @include tablet {
            width: rem(440px);
            height: rem(300px);
            margin-top: rem(30px);
        }
        &-options {
            width: rem(380px);
            display: flex;
            border: 1px solid #6B717C;
            overflow: hidden;
            border-radius: 5px;
            justify-content: space-around;
        }
        &__input {
            width: rem(382px);
            height: rem(50px);
            padding: rem(10px);
            font-size: rem(14px);
            color: #9AA5C0;
            border: 1px solid #D9DDE5;
            border-radius: 5px;
            background-color: transparent;
            &::placeholder {
                font-size: rem(14px);
                color: #9AA5C0;
                @include tablet {
                    font-size: rem(12px);
                }
            }
            @include tablet {
                height: rem(40px);
                font-size: rem(12px);
            }
        }
        &__area {
            height: rem(90px);
            resize: none;
        }
        &__submit {
            position: absolute;
            bottom: -20%;
            width: rem(300px);
            height: rem(50px);
            background: linear-gradient(189.46deg, #FA2B56 0%, #F91C3D 100%);
            box-shadow: rem(20px) rem(20px) rem(60px) rgba(0, 0, 0, 0.4);
            border-radius: 5px;
            line-height: rem(19px);
            font-size: rem(16px);
            color: #FFFFFF;
            font-family: 'm-light';
            &:hover {
                background: linear-gradient(197.53deg, #CF0F37 0%, #F90025 100%);
            }
        }
    }
}

.form-info__bold {
    font-family: 'm-bold';
}

.radio-label {
    width: 33.4%;
    height: rem(50px);
    line-height: rem(50px);
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: rem(12px);
    color: #595F6F;
    font-family: 'm-light';
    background: #FFFFFF;
}

.radio-lebal_center {
    border-right: 1px solid #6B717C;
    border-left: 1px solid #6B717C;
}

.form-radio {
    display: none;
    &:checked+.radio-label {
        color: #ffffff;
        background: linear-gradient(201.34deg, #FA2B56 0%, #F91C3D 100%);
    }
}
