.main-cards {
    margin-top: rem(40px);
    display: flex;
    justify-content: space-between;
    @include tablet {
        flex-direction: column;
        align-items: center;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        width: 31%;
        padding: rem(40px) rem(30px);
        background: #191F2E;
        box-shadow: rem(20px) rem(20px) rem(40px) rgba(2, 8, 22, 0.1);
        border-radius: 5px;
        @include tablet {
            width: 80%;
            margin-bottom: rem(30px);
        }
        &__pic {
            width: 20%;
        }
        &__info {
            font-size: rem(16px);
            width: 66%;
            font-family: 'm-light';
            &-title {
                color: #ffffff;
                line-height: rem(21px);
                font-size: rem(16px);
            }
            &-text {
                margin-top: rem(20px);
                line-height: rem(18px);
                font-size: rem(14px);
                color: #709BE7;
            }
        }
    }
}

.main-cards-title_bold {
    font-family: 'm-regular';
    font-weight: bold;
}

.card-big-item {
    transform: scale(1.1);
    background-color: #ffffff;
    &__title {
        color: #1A47B0;
    }
    &__text {
        color: #595F6F;
    }
}
