.main-info {
    margin-top: rem(140px);
    @include netbook {
        margin-top: rem(120px);
    }
    @include tablet {
        margin-top: rem(80px);
    }
    @include phone {
        margin-top: rem(60px);
    }
    font-family: 'm-light';
    &__title {
        font-size: rem(40px);
        color: #ffffff;
        @include tablet {
            font-size: rem(30px);
        }
    }
    &__text {
        width: 70%;
        margin-top: rem(40px);
        line-height: rem(23px);
        font-size: rem(18px);
        letter-spacing: -0.5px;
        color: #709BE7;
        @include tablet {
            margin-top: rem(30px);
        }
        @include phone {
            margin-top: rem(26px);
        }
    }
}
