.welcome {
    max-height: rem(740px);
    overflow: hidden;

    &-video {
        width: 100%;
        position: relative;
        top: 0;
    }
    &-info {
        top: 0;
        position: absolute;
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include netbook {
                width: 90%;
            }
            @include phone {
                height: 60px;
            }
        }
        &__header-pic {
            width: 16.5%;
            @include phone {
                height: 100%;
                width: auto;
            }
        }
        &__header-button {
            width: rem(190px);
            height: rem(48px);
            background: #FFFFFF;
            box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.4);
            border-radius: 5px;
            font-family: 'm-regular';
            color: #F6244C;
            &:hover {
                background: linear-gradient(194.18deg, #FA2B56 0%, #F91C3D 100%);
                color: #FFFFFF;
            }
            @include tablet {
                width: rem(130px);
                height: rem(50px);
                font-size: rem(14px);
            }
        }
        &-text {
            margin-top: rem(130px);
            letter-spacing: -1px;
            width: 70%;
            &__sub-title {
                color: #709BE7;
                font-size: rem(18px);
                font-family: 'm-regular';
            }
            &__title {
                color: #FFFFFF;
                font-size: rem(48px);
                margin-top: rem(20px);
                font-family: 'm-light';
                @include small-desktop {
                    font-size: rem(38px);
                }
            }
            @include desktop {
                margin-top: rem(110px);
            }
            @include small-desktop {
                margin-top: rem(80px);
                width: 75%;
            }
            @include netbook {
                margin-top: rem(60px);
            }
            @include tablet {
                margin-top: rem(40px);
            }

            @include phone {
                margin-top: rem(5px);
                width: 100%;
            }
        }
        &-card {
            margin-top: rem(40px);
            width: 52%;
            &__input {
                width: rem(350px);
                height: rem(60px);
                padding: rem(20px);
                font-size: rem(15px);
                color: #595F6F;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                &::placeholder {
                    font-size: rem(15px);
                    color: #595F6F;
                }
                @include tablet() {
                    width: rem(250px);
                    height: rem(40px);
                }
            }
            &__btn {
                width: rem(190px);
                height: rem(60px);
                margin-left: rem(20px);
                background: linear-gradient(197.53deg, #FA2B56 0%, #F91C3D 100%);
                box-shadow: rem(20px) rem(20px) rem(60px) rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                font-family: 'm-regular';
                color: #ffffff;
                font-size: rem(16px);
                @include small-desktop() {
                    margin-left: 0;
                    display: block;
                    margin-top: rem(15px);
                }
                @include tablet() {
                    width: rem(130px);
                    height: rem(50px);
                    font-size: rem(14px);
                }
                &:hover {
                    background: linear-gradient(197.53deg, #CF0F37 0%, #F90025 100%);
                }
            }
        }
    }
}

.text__title_bold {
    font-family: 'm-bold';
}
