@font-face {
    font-family: 'm-bold';
    src: url('./Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'm-light';
    src: url('./Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'm-regular';
    src: url('./Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
